# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Streamlit secrets & config
.streamlit/secrets.toml
.streamlit/config.toml

# Environment variables
.env

# Local database / search history
history.json
